@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --success-color: #05aaa5;
  --primary-color: rgba(5, 170, 165, 0.05);
  --primary-text-color: rgba(5, 170, 165, 1);
  --white-color: #fff;
  --card-text-color: rgba(71, 84, 103, 1);
  --text-white-color: rgba(255, 255, 255, 1);
  --card-span-color: rgba(32, 183, 178, 1);
  --text-color: rgba(71, 84, 103, 1);
  --radius-md: 8px;
  --spacing-small: 6px;
  --font-large: 48px;
  --font-small: 20px;
  --font-weight-medium: 600;
  --font-weight-small: 400;
}
/* ----------------------------------------Hero-Section------------------------------------ */
.hero-wrapper {
  padding: 96px 0;
  background-color: var(--primary-color) !important;
  text-align: center !important;
}
.heading h1 {
  font-size: var(--font-large) !important;
  font-weight: var(--font-weight-medium) !important;
  margin-bottom: 45px !important;
  text-align: center !important;
}
.para p {
  max-width: 1216px;
  margin: 0 auto;
  font-size: var(--font-small);
  font-weight: var(--font-weight-small) !important;
  line-height: 30px !important;
  color: var(--text-color);
  margin-bottom: 45px !important;
  text-align: center !important;
}
.btn-header {
  height: 60px;
  width: 212px;
  font-size: 16px;
  background-color: var(--success-color) !important;
  color: var(--white-color) !important;
  border-radius: var(--radius-md) !important;
  border: none;
}
.btn:hover {
  color: var(--white-color) !important;
}
.upword {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.upword span,
i {
  font-size: 20px;
  font-weight: var(--font-weight-medium);
  color: var(--success-color);
}
/* ---------------------------------------------Shouting-Wrapper--------------------------------------- */
.Shoutouting-wrapper {
  padding: 96px 0;
  background-color: var(--white-color);
}
.cards-inner {
  background-color: var(--primary-color);
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 350px;
}
.cards-inner .cards-icon {
  height: 48px;
  width: 48px;
  background-color: var(--success-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.cards-inner .cards-icon i {
  font-size: 20px;
  color: var(--white-color);
}
.cards-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cards-info .heading h5 {
  font-size: 19px !important;
  font-weight: var(--font-weight-medium) !important;
  color: var(--primary-text-color);
  max-width: 220px;
}
.cards-info p {
  font-size: 16px;
  line-height: 25px;
  font-weight: var(--font-weight-small) !important;
  letter-spacing: 0.5px;
  color: var(--card-text-color);
}
.para p > a{
  color: rgb(71, 84, 103);
}
/* --------------------------------------------Advertisment-Wrapper--------------------------------- */
.advertisment-wrapper {
  padding: 96px 0;
  background-color: var(--success-color);
}
.advertisment-wrapper .cards-inner {
  background: transparent;
}
.advertisment-inner .cards-inner h5 {
  line-height: 25px;
}
.advertisment-inner h1,
h2,
h3,
h4,
h5 {
  color: var(--white-color);
}
.advertisment-inner .para p {
  color: var(--white-color);
}
.advertisment-inner .cards-info .heading h5 {
  color: var(--white-color);
}
.advertisment-inner .cards-info p {
  color: var(--text-white-color);
}
.advertisment-inner .cards-inner .cards-icon {
  background-color: var(--card-span-color);
}
.cards-icon span {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 800;
}
.card{
  border: none;
}
.card p{
  padding: 20px 20px;
  background-color: var(--card-span-color);
  margin-bottom: 0;
}
.advertisment-inner .card .para p {
  color: var(--text-white-color);
}
/* -----------------------------------------------Marketing-Wrapper----------------------------------- */
.marketing-wrapper {
  padding: 96px 0;
  text-align: center;
}
.marketing-main {
  background-color: var(--primary-color);
  padding: 64px 40px;
  border-radius: 16px;
}
.marketing-main .heading h1,
.para p {
  text-align: center !important;
}

@media screen and (max-width: 768px) {
  .para p {
    font-size: 18px !important;
  }
  .heading h1 {
    font-size: 45px !important;
  }
  .cards-inner{
    min-height: auto !important;
  }
}
@media screen and (max-width: 567px) {
  .para p {
    font-size: 16px !important;
  }
  .heading h1 {
    font-size: 43px !important;
  }
  .hero-wrapper,
  .Shoutouting-wrapper,
  .advertisment-wrapper {
    padding: 80px 0;
  }
  .upword span{
    font-size: 14px;
  }
}
@media screen and (max-width: 471px) {
  .para p {
    font-size: 15px !important;
  }
  .heading h1 {
    font-size: 40px !important;
  }
  .hero-wrapper,
  .Shoutouting-wrapper,
  .advertisment-wrapper,
  .marketing-wrapper {
    padding: 75px 0;
  }
}
@media screen and (max-width: 440px) {
  .heading h1 {
    font-size: 38px !important;
  }
  .hero-wrapper,
  .Shoutouting-wrapper,
  .advertisment-wrapper {
    padding: 70px 0;
  }
  .upword {
    justify-content: start;
  }
  .btn {
    width: 100%;
  }
  .hero-wrapper,
  .heading h1,
  .para p {
    text-align: left !important;
  }
  .advertisment-inner .cards-inner {
    padding: 20px 0;
  }
}
@media screen and (max-width: 430px) {
  .heading h1 {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 399px) {
  .hero-wrapper,
  .Shoutouting-wrapper,
  .advertisment-wrapper,
  .marketing-wrapper {
    padding: 70px 0;
  }
  .hero-wrapper,
  .heading h1,
  .para p {
    text-align: left !important;
  }
  .sub-li h5 {
    font-size: 16px;
    color: #475467;
  }
  .sub-li p {
    font-size: 13px;
    color: #475467;
  }
  .advertisment-inner .cards-infop {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .col-66 img {
    width: 90%;
  }
  .heading h1 {
    font-size: 34px !important;
  }
  .hero-wrapper,
  .Shoutouting-wrapper,
  .advertisment-wrapper,
  .marketing-wrapper {
    padding: 45px 0;
  }
}
