.social-impact-section div{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
.align-end-herbew{
    align-items: flex-end !important;
}
.flex-row-rev{
    flex-direction: row-reverse !important;
}
.r-0{
    right: 0 !important;
    left: auto !important;
}
@media screen and (min-width: 992px) {
    .menu-rev {
        flex-direction: row-reverse !important;
    }
}