.hero{
    background-color: #05AAA50D;
    padding: 3rem 0px;
}
.btn-group > a{
    width: 170px !important;
    border: 1px solid #D0D5DD;
    flex: inherit !important;
    background-color: #05AAA50D;
    color: #05AAA5;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.btn-group > a:hover{
    background: #05AAA5 !important;
    color: #fff !important;
}
.btn-group .btn-white{
    background-color: #fff;
    color: #344054;
}

.table-responsive{
    margin-top: 2rem;
    padding: 0px;
    width: 100%;
    margin: 0px auto;
    margin-top: 1rem;
  }
  
  .custom-table {
    width: 100%;
    min-width: 900px;
    overflow-x: auto;
  }
  
  .custom-table{
    scrollbar-width: thin !important;
    overflow-x: auto;
    margin-bottom: 0px !important;
  }
  .custom-table thead tr,
  .custom-table thead th {
    border-top: none ;
    border-bottom: none !important;
    color: #A09D9D;
    font-size: 17px;
    font-weight: 500;
    background-color: #F9FAFB !important;
  }
  .custom-table tbody th,
  .custom-table tbody td {
    font-weight: 400;
    font-weight: 300;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: baseline;
  }
  /* .custom-table tbody tr:nth-child(odd) td{
    background-color: #EAF0FB;
  }
  .custom-table tbody tr:nth-child(even) .prog{
    background-color: #F2F2F2;
  } */
  .custom-table th::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  .custom-table td::-webkit-scrollbar {
    width: 1px;
    height: 5px;
  }
  
  .custom-table::-webkit-scrollbar{
      width: 6px;
      width: 6px;
  }
  
  .table-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 2rem;
    padding: 0px 10px;
  }
  .table-header h4{
    color: #3558B0;
    margin-bottom: 0px !important;
  }
  .table-header > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .table-header > div select{
    width: 150px;
    background-color: #fff;
    border: 1px solid grey;
  }

  .table-border{
    border: 1px solid #EAECF0 !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 20px ;
    border-radius: 8px;
  }

  .custom-table thead{
    border: 1px solid #EAECF0;
  }

  tbody tr td .d-flex button{
    background-color: #05AAA5;
    color: #fff;
  }
tbody tr td .d-flex button:hover{
    background: #008f8b !important;
    color: #fff !important;
}
  tbody tr td .d-flex button:nth-child(2){
    background-color: #F6911B;
    color: #fff;
  }

  .custom-table tbody td:nth-child(1){
    color: #05AAA5 !important;
    font-weight: 500;
  }
  .custom-table tbody td:nth-child(2){
    color: #05AAA5 !important;
    font-weight: 500;
  }

  .table-advertiser tbody tr td:nth-child(1){
    color: #475467 !important;
    font-weight: 400;
  }

  .table-advertiser tbody th,
  .table-advertiser tbody td {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .badge-progress{
    width: 100%;
    background-color: #ECFDF3;
    border: 1px solid #ABEFC6;
    color: #067647;
    padding: 3px 10px;
    font-weight: 500;
    border-radius: 50px;
  }
  .badge-blue{
    width: 100%;
    background-color: #EFF8FF;
    border: 1px solid #B2DDFF;
    color: #175CD3;
    padding: 3px 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 50px;
  }
  .badge-danger{
    width: 100%;
    background-color: #FEF6EE;
    border: 1px solid #F9DBAF;
    color: #B93815;
    padding: 3px 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 50px;
  }
  @media screen and (max-width: 576px) {
    .table-container{
        width: 97% !important;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-group button{
        width: 45% !important;
        border: 1px solid #D0D5DD;
        font-size: 14px;
    }
    .btn-group .btn-thrice{
        width: 33% !important;
        font-size: 12px !important;
    }
    .hero h1{
        text-align: start !important;
    }
  }
